@import "tailwindcss";

@tailwind utilities;

@layer utilities {
  .section-min-height {
    min-height: calc(100vh - 68px);
  }
}
@media (min-width: 1020px) {
  .widescreen\:section-min-height {
    min-height: calc(100vh - 68px);
  }
}

@media (max-height: 425px) and (min-aspect-ratio: 7/4) {
  .tallscreen\:section-min-height {
    min-height: calc(100vh - 68px);
  }
}
